# Server Configuration
SERVER_LOG_LEVEL=info

# MQTT Configuration
MQTT_BROKER_URL=amqp://admin:password@rabbitmq:5672/
MQTT_INPUT_TOPIC=device/data
MQTT_OUTPUT_TOPIC=transformed/device/location
MQTT_CONSUMER_TAG=transformer-service
MQTT_PREFETCH_COUNT=10
MQTT_AUTO_ACK=false